{% extends "WebTheme.twig" %}

{% block pageTitle %}Home{% endblock %}

{% block content %}
	<p>
		Hallo ihr Lieben,
	</p>
	<p>
		... schön, dass ihr vorbei schaut.
	</p>
	<p>
		Unter <a href="/gallery" title="Galerie">GALERIE</a> könnt ihr bereits hochgeladene Bilder ansehen.<br>
		Die Bilder werden erst als kleine Kacheln angezeigt und nach Klick darauf dann in voller Größe.
	</p>
	<p>
		Unter <a href="/upload-form" title="Upload">UPLOAD</a> könnt Ihr eure Bilder hochladen per Drag’n’Drop oder dem gewohnten Auswählen vom
		Rechner.
	</p>
	<p>
		<img src="/images/christiane-und-christian.jpg" alt="Christiane und Christian" class="img-responsive">
	</p>
	<p>
		Wir freuen uns und sind gespannt.
	</p>
{% endblock %}
